<div class="page">
  <div class="main-panel">

    <div class="modal-header">
      <h2>Διαχείριση Περιεχομένου</h2>
      <button class="close-btn" (click)="goBack()">×</button>
    </div>

    <div class="modal-tabs">
      <button [class.active]="adminEditTab === 'theory'" (click)="setAdminEditTab('theory')">
        Θεματολογία
      </button>

      <button [class.active]="adminEditTab === 'quiz'" (click)="setAdminEditTab('quiz')">
        Quiz
      </button>
      <button type="button"
              class="excel-action-btn"
              (click)="downloadQuizExcelTemplate()">
        Λήψη Excel Template
      </button>

      <button type="button"
              class="excel-action-btn import-btn"
              (click)="openQuizExcelImport()">
        Εισαγωγή Excel
      </button>

      <input type="file"
             #quizExcelInput
             accept=".xlsx"
             hidden
             (change)="onQuizExcelSelected($event)" />

    </div>

    <div class="section-card">

      <div *ngIf="adminEditTab === 'theory'" class="form-section">

        <div class="topics-header">
          <h3>Επεξεργασία Θεματολογίας</h3>
        </div>

        <div class="empty-theory" *ngIf="thematologies.length === 0">
          Δεν υπάρχουν ακόμη θεματολογίες.
        </div>

        <div class="topic-card" *ngIf="selectedThematologia as item">

          <div class="topic-top">
            <div class="select-topic-btn topic-title-display">
              <span>{{ item.Title }}</span>

              <small>
                {{ item.FromDate | date:'dd/MM/yyyy' }}
                -
                {{ item.ToDate | date:'dd/MM/yyyy' }}
              </small>
            </div>

            <div class="topic-actions">
              <button class="edit-topic-btn thematologia-edit-btn"
                      (click)="startEditThematologia(item)">
                Edit
              </button>

              <button class="delete-topic-btn"
                      (click)="deleteThematologia(item)">
                ×
              </button>
            </div>
          </div>

          <div class="edit-thematologia-row"
               *ngIf="editingThematologiaId === item.Id">

            <input type="text"
                   [(ngModel)]="editingThematologiaTitle"
                   placeholder="Επεξεργασία header θεματολογίας">

            <input type="date" [(ngModel)]="editingFromDate">

            <input type="date" [(ngModel)]="editingToDate">

            <button class="update-topic-btn"
                    (click)="updateThematologia(item)">
              Ενημέρωση Θεματολογίας
            </button>
          </div>

          <div *ngIf="editingThematologiaId === item.Id"
               class="selected-topic-area">

            <h4>
              Θεωρίες για:
              {{ item.Title }}
            </h4>

            <input type="text"
                   [(ngModel)]="newTheoryHeader"
                   placeholder="Τίτλος θεωρίας">

            <quill-editor [(ngModel)]="newTheoryDetails"
                          [modules]="quillModules"
                          placeholder="Γράψε τις λεπτομέρειες της θεωρίας...">
            </quill-editor>

            <button class="save-btn" (click)="addTheoryToSelected()">
              Αποθήκευση Θεωρίας
            </button>

            <div class="theory-list-inside" *ngIf="selectedTheories.length > 0">

              <div class="inner-theory-card" *ngFor="let theory of selectedTheories">

                <div class="topic-top">
                  <h4>{{ theory.Header }}</h4>

                  <div class="theory-actions">
                    <button class="edit-topic-btn theory-icon-btn"
                            (click)="startEditTheory(theory)">
                      <img src="edit.png" alt="Edit">
                    </button>

                    <button class="delete-theory-btn theory-icon-btn"
                            (click)="deleteTheoria(theory)">
                      <img src="delete.png" alt="Delete">
                    </button>
                  </div>
                </div>

                <div [innerHTML]="theory.Details"></div>

                <div class="edit-theory-row"
                     *ngIf="editingTheoryId === theory.Id &&
                            editingTheoryDetId === theory.DetId">

                  <input type="text"
                         [(ngModel)]="editingTheoryHeader"
                         placeholder="Επεξεργασία τίτλου θεωρίας">

                  <quill-editor [(ngModel)]="editingTheoryDetails"
                                [modules]="quillModules"
                                placeholder="Επεξεργασία λεπτομερειών θεωρίας...">
                  </quill-editor>

                  <button class="update-topic-btn"
                          (click)="updateTheoria()">
                    Ενημέρωση Θεωρίας
                  </button>
                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div *ngIf="adminEditTab === 'quiz'" class="quiz-editor-layout">

        <div class="quiz-left-column">

          <h3>
            {{ selectedThematologia?.Title }}
          </h3>

          <div class="empty-theory" *ngIf="selectedTheories.length === 0">
            Δεν υπάρχουν θεωρίες.
          </div>

          <div class="quiz-theory-item clickable-theory"
               *ngFor="let theory of selectedTheories"
               (click)="selectQuizTheory(theory)"
               [class.active]="selectedQuizTheory === theory">

            {{ theory.Header }}

          </div>
          <div class="quiz-settings-card">
            <p class="quiz-settings-info">
              Επιλέξτε πόσες τυχαίες ερωτήσεις θα εμφανίζονται σε κάθε εκτέλεση του quiz.
            </p>
            <label>
              Αριθμός ερωτήσεων Quiz
            </label>

            <div class="quiz-settings-row">
              <div class="quiz-count-box">
                <input type="number"
                       min="1"
                       [max]="totalQuizQuestions"
                       [(ngModel)]="quizQuestionCount">

                <span>/ {{ totalQuizQuestions }} διαθέσιμες</span>
              </div>
              <button type="button"
                      (click)="saveQuizQuestionCount()">
                Αποθήκευση
              </button>

            </div>

          </div>
          <div class="quiz-settings-card difficulty-settings-card">

            <small>
              Επιλέξτε τη συνολική δυσκολία που θα έχει κάθε εκτέλεση του quiz.
            </small>

            <label>
              Βαθμός δυσκολίας Quiz
            </label>

            <select class="quiz-difficulty-select"
                    [(ngModel)]="quizDifficultyPercent">

              <option [ngValue]="1">Εύκολο</option>
              <option [ngValue]="2">Μεσαίο</option>
              <option [ngValue]="3">Δύσκολο</option>

            </select>

            <button type="button"
                    class="new-save"
                    (click)="saveQuizDifficulty()">
              Αποθήκευση
            </button>

          </div>
        </div>

        <div class="quiz-right-column">
         
          <h3>Quiz Editor</h3>

          <div *ngIf="!selectedQuizTheory" class="empty-theory">
            Επιλέξτε μία θεωρία από αριστερά.
          </div>

          <div *ngIf="selectedQuizTheory" class="selected-theory-box">

            <small>Επιλεγμένη θεωρία</small>

            <h4>{{ selectedQuizTheory.Header }}</h4>

            <div class="quiz-question-form">

              <div class="existing-questions-card"
                   *ngIf="existingQuestions.length > 0">

                <div class="answers-header">
                  Υπάρχουσες ερωτήσεις
                </div>

                <div class="existing-question"
                     *ngFor="let q of existingQuestions; let qi = index">

                  <div class="existing-question-top">

                    <div class="question-content">

                      <label>
                        Ερώτηση {{ qi + 1 }}
                      </label>

                      <p class="existing-question-title">
                        {{ q.Question }}
                      </p>

                    </div>

                    <div class="question-actions">

                      <button type="button"
                              class="question-icon-btn edit-icon-btn"
                              (click)="editExistingQuestion(q)">
                        <img src="/edit.png" alt="Edit">
                      </button>

                      <button type="button"
                              class="question-icon-btn delete-icon-btn"
                              (click)="deleteExistingQuestion(q)">
                        <img src="/delete.png" alt="Delete">
                      </button>

                    </div>

                  </div>

                  <div class="existing-answer-row"
                       *ngFor="let a of q.Answers">

                    <input type="radio"
                           disabled
                           [checked]="a.IsCorrect">

                    <span class="existing-answer-text">
                      {{ a.Answer }}
                    </span>

                  </div>

                  <div class="quiz-question-card"
                       *ngIf="editingQuestion?.QId === q.QId">

                    <label>Επεξεργασία ερώτησης</label>

                    <textarea [(ngModel)]="editingQuestionText"
                              placeholder="Γράψτε την ερώτηση...">
                    </textarea>
                    <label>Βαθμός δυσκολίας</label>

                    <select [(ngModel)]="editingQuestionDifficulty">
                      <option [ngValue]="1">Εύκολη</option>
                      <option [ngValue]="2">Μεσαία</option>
                      <option [ngValue]="3">Δύσκολη</option>
                    </select>
                    <div class="answers-header">
                      Απαντήσεις
                    </div>

                    <div class="answer-row"
                         *ngFor="let a of editingQuestionAnswers; let ai = index">

                      <input type="radio"
                             [checked]="a.IsCorrect"
                             (change)="selectCorrectExistingAnswer(a)">

                      <input type="text"
                             [(ngModel)]="a.Answer"
                             placeholder="Απάντηση {{ ai + 1 }}">

                      <button type="button"
                              class="delete-answer-btn"
                              (click)="removeExistingAnswer(ai)">
                        ✕
                      </button>

                    </div>

                    <button type="button"
                            class="add-answer-btn"
                            (click)="addExistingAnswer()">
                      + Προσθήκη απάντησης
                    </button>

                    <button type="button"
                            class="save-quiz-btn"
                            (click)="updateExistingQuestion()">
                      Αποθήκευση αλλαγών
                    </button>

                    <button type="button"
                            class="delete-small-btn"
                            (click)="cancelEditExistingQuestion()">
                      Άκυρο
                    </button>

                  </div>

                </div>

              </div>

              <button type="button"
                      class="save-quiz-btn add-question-main-btn"
                      (click)="addQuizQuestion()">
                + Προσθήκη ερώτησης
              </button>

              <div class="quiz-question-card"
                   *ngFor="let q of quizQuestions; let qi = index">

                <label>Ερώτηση {{ qi + 1 }}</label>

                <textarea [(ngModel)]="q.question"
                          placeholder="Γράψτε την ερώτηση...">
                </textarea>

                <label>Βαθμός δυσκολίας</label>

                <select [(ngModel)]="q.Difficulty">
                  <option [ngValue]="1">Εύκολη</option>
                  <option [ngValue]="2">Μεσαία</option>
                  <option [ngValue]="3">Δύσκολη</option>
                </select>

                <button type="button"
                        class="delete-small-btn"
                        (click)="removeQuizQuestion(qi)">
                  Διαγραφή ερώτησης
                </button>

                <div class="answers-header">
                  Απαντήσεις
                </div>

                <div class="answer-row"
                     *ngFor="let option of q.options; let ai = index">

                  <input type="radio"
                         [checked]="option.is_correct"
                         (change)="selectCorrectAnswer(q, option)">

                  <input type="text"
                         [(ngModel)]="option.answer"
                         placeholder="Απάντηση {{ ai + 1 }}">

                  <button type="button"
                          class="delete-answer-btn"
                          (click)="removeAnswer(q, ai)">
                    ✕
                  </button>

                </div>

                <button type="button"
                        class="add-answer-btn"
                        (click)="addAnswer(q)">
                  + Προσθήκη απάντησης
                </button>

              </div>

              <button type="button"
                      class="save-quiz-btn"
                      (click)="saveQuizQuestions()">
                Αποθήκευση
              </button>

            </div>

          </div>

        </div>

      </div>

    </div>

  </div>
</div>
