<div class="page">

  <div class="user-panel">

    <img src="admin.png"
         alt="User Icon"
         class="user-icon">

    <div class="user-info">
      <h2>{{ user?.nickname || user?.Nickname || 'Χρήστης' }}</h2>

      <p>
        {{ getStoreName(user?.storeId ?? user?.StoreId) }}
      </p>

      <button class="logout-btn"
              (click)="logout()">
        Log Out
      </button>
    </div>

    <button *ngIf="isAdmin"
            class="preview-btn"
            (click)="openUserPreviewModal()">
      User Preview
    </button>

  </div>

  <div class="main-panel">

    <div class="tab-menu">

      <button [class.active]="activeSection === 'theory'"
              (click)="setSection('theory')">
        Θεωρία
      </button>

      <button [class.active]="activeSection === 'quiz'"
              (click)="setSection('quiz')">
        Quiz
      </button>

      <button [class.active]="activeSection === 'ranking'"
              (click)="setSection('ranking')">
        Κατάταξη
      </button>

      <button [class.active]="activeSection === 'settings'"
              (click)="setSection('settings')">
        Ρυθμίσεις
      </button>

    </div>

    <div class="section-card">

      <div *ngIf="activeSection === 'theory'">

        <div *ngIf="isAdmin"
             class="form-section add-thematologia-panel">

          <label>Νέα Θεματολογία</label>

          <input type="text"
                 [(ngModel)]="thematologiaTitle"
                 placeholder="π.χ. Εκπαίδευση Ασφαλείας">

          <button class="save-header-btn"
                  (click)="saveThematologia()">
            Προσθήκη Θεματολογίας
          </button>

        </div>

        <div class="empty-theory"
             *ngIf="topics.length === 0">
          Δεν υπάρχουν ακόμη διαθέσιμες θεματολογίες.
        </div>

        <div class="theory-list"
             *ngIf="topics.length > 0">

          <div class="theory-card clickable-theory-card"
               *ngFor="let topic of topics; let i = index"
               (click)="openEditPage(topic)">

            <div class="theory-number">
              {{ i + 1 }}
            </div>

            <div class="theory-content">

              <h2>{{ topic.title || 'Χωρίς τίτλο' }}</h2>

              <small>
                {{ isAdmin ? 'Πατήστε για επεξεργασία' : 'Πατήστε για προβολή θεωριών' }}
              </small>

              <div class="preview-theory-details"
                   *ngIf="!isAdmin && openedPreviewThematologiaId === topic.id">

                <div class="empty-theory"
                     *ngIf="previewTheories.length === 0">
                  Δεν υπάρχουν ακόμη διαθέσιμες θεωρίες για αυτή τη θεματολογία.
                </div>

                <div class="preview-theory-item"
                     *ngFor="let theory of previewTheories; let j = index">

                  <h3>
                    {{ j + 1 }}. {{ theory.header || theory.Header }}
                  </h3>

                  <div class="preview-theory-text"
                       [innerHTML]="theory.details || theory.Details">
                  </div>

                </div>

              </div>

            </div>

          </div>

        </div>

      </div>

      <div *ngIf="activeSection === 'quiz'">
        <div class="quiz-container">

          <div class="quiz-center-box">
            <p class="quiz-subtitle">
             <strong> Επέλεξε θεματολογία </strong>
            </p>

            <select [(ngModel)]="selectedQuizThematologiaId"
                    
                    class="quiz-topic-select">

              <option [ngValue]="0">
                Επιλέξτε θεματολογία
              </option>

              <option *ngFor="let t of thematologies"
                      [ngValue]="t.Id">
                {{ t.Title }}
              </option>

            </select>

            <button type="button"
                    class="quiz-start-btn"
                    (click)="startQuiz()">

              Έναρξη Quiz

            </button>

          </div>

        </div>
      </div>

      <div *ngIf="activeSection === 'ranking'">
        <h1>Κατάταξη</h1>
        <p>Εδώ θα εμφανίζεται η κατάταξη των χρηστών.</p>
      </div>

      <div *ngIf="activeSection === 'settings'">
        <h1>Ρυθμίσεις</h1>
        <p>Εδώ θα μπουν οι ρυθμίσεις λογαριασμού.</p>
      </div>

    </div>

  </div>

</div>
